body {
    background: #F3F5FC;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: Inter;
    transition-duration: .2s;
    position: relative;
    overflow-x: hidden;
}

main {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logo-vector {
    width: 120px;
    padding: 40px;
    height: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input-text-section {
    margin: 168px 40px 72px 40px;
    flex-grow: 1;
}

#input-text {
    width: 100%;
    background-color: transparent;
    border: none;
    font-family: Inter;
    font-size: 32px;
    color: #0A3871;
    resize: none;
    flex-grow: 1;
}

#input-text::placeholder {
    color: #0A3871;
    
}

#output-text {
    width: 480px;
    padding: 40px 0;
}

#input-text:focus {
    outline: none;
}

.display-output {
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 400px;
    height: 100%;
    border-radius: 32px;
    margin: 0 auto;
    padding: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
    margin: 16px 0;
}

.display-output h2 {
    font-weight: 700;
}

.display-output p {
    font-weight: 400;
}

.wrapper-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px
}

.btn {
    border-radius: 24px;
    padding: 24px;
    margin-top: 16px;
}

.margin-right {
    margin-right: 8px;
}

.align-center {
    vertical-align: middle;
}

.wrapper-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.wrapper-row p {
    margin: 0;
}

.btn-wrapper {
    display: flex;
    gap: 8px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.btn-wrapper button {
    width: 50%;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    cursor: pointer;
    max-width: 328px;
}

.wrapper {
    width: 100%;
}

#desencriptar {
    border: 1px solid #0A3871;
    background: transparent;
    color: #0A3871;
    transition-duration: 300ms;
}

#desencriptar:hover {
    background-color: #EFF1FA;
}

#encriptar {
    background: #0A3871;
    color: #FFFFFF;
    border: none;
    transition-duration: 300ms;
}

#encriptar:hover {
    background-color: #072B61;
}

.output-text-wrapper {
    width: 100%;
    height: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-text {
    display: none;
}

#text-toggle {
    pointer-events: none;
}

#copiar {
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    font-family: Inter;
    font-weight: 400;
    color: #0A3871;
    border: 1px solid #0A3871;
}

#dark-mode {
    height: 30px;
    border: none;
    border-radius: 1000px;
    background-color: orange;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    padding: 0;
}

.icon {
    color: #fff;
    width: 30px;
    height: 30px;
    background: none;
    line-height: 30px !important;
    display: block;
}

#dark-mode::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #E9ECF8;
    border-radius: 100px;
    transition: .2s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.active {
    background-color: #0A3871 !important;
    color: #fff;
}

.active::after {
    transform: translate(100%);
}

.succed {
    background-color: #d1e7dd;
    border-left: 6px solid #0f5132;
    color: #0f5132;
}

.warning {
    background-color: #f8d7da;
    border-left: 6px solid #842029;
    color: #842029;
}

.toast {
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: fixed;
    right: 10px;
    top: 10px;
    transition-duration: .3s;
    transform: translateX(120%);
    z-index: 1;
    height: 55px;
}

.succed.show, .warning.show {
    transform: translateX(0%);
}

.toast-content {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
}

.first-icon {
    font-size: 22px;
}

.close {
    cursor: pointer;
    transition-duration: .2s;
    border-radius: 0px 5px 5px 0;
    height: 100%;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-succed {
    background-color: #badbcc;
}

.close-warning {
    background-color: #f5c2c7;
}

.close-succed:hover {
    background-color: #ADCCBE;
}

.close-warning:hover {
    background-color: #E8B8BC;
}

footer {
    background-color: #343A40;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

footer svg {
    height: 80px;
    margin-bottom: 10px;
}

footer svg path{
    fill: white;
}

.footer-top {
    padding: 55px 0 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 20px;
}

.footer-top p {
    margin: 0;
}

.footer-bottom {
    width: 100%;
    border-top: 1px solid #CED4DA;
    padding: 30px 0;
}

.footer-bottom p {
    margin: 0;
    padding: 0 30px;
}

.icons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    font-size: 24px;
}

.icons a {
    color: #fff;
}
/*COLORES MODO OSCURO*/
body.dark {
    background-color: #052051 !important;
}

body.dark #encriptar {
    background-color: #E9ECF8;
    color: #0A3871;
}

body.dark #desencriptar {
    border-color: #E9ECF8;
    color: #E9ECF8;
}

body.dark #input-text {
    color: #E9ECF8;
}

body.dark  #input-text::placeholder {
    color: #AAB2D5;
}

body.dark .wrapper-row p {
    color: #E9ECF8;
}

body.dark .display-output {
    background-color: #0A3871;
    box-shadow: 0px 24px 32px -8px #E9ECF814;
    color: #E9ECF8;
}

body.dark #logo-vector svg path {
    fill: #E9ECF8;
}

body.dark .wrapper-row svg path {
    fill: #E9ECF8;
}

body.dark #copiar {
    border-color: #E9ECF8;
    color: #E9ECF8;
}

body.dark .dark-mode {
    fill: #757FB2;
}

body.dark #encriptar:hover {
    background-color: #AAB2D5;

}

body.dark #desencriptar:hover {
    background-color: #072B61;

}

body.dark footer {
    background-color: #0A3871;
}
/* Responsive */

@media only screen and (max-width: 1150px) {

    body {
        height: auto;
        max-height: none;
    }

    #logo-vector {
        text-align: start;
        width: 100%;
        padding: 20px 0;
        margin-bottom: 20px;
    }

    #input-text-section {
        width: 100%;
        margin: 0;
        height: 600px;
    }



    main {
        display: flex;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px;
    }

    #output-text {
        width: 100%;
    }

    .display-output {
        width: 100%;
    }

    .display-output svg {
        display: none;
    }
  }

  @media only screen and (max-width: 620px) {
    .toast {
        width: 80%;
        left: 50%;
        transform: translate(-50%, -130%);
    }

    .show {
        transform: translate(-50%, 10%) !important;
    }

    .toast-content {
        width: 100%;
    }

    .warning {
        height: 75px;
    }

    .close-warning{
        width: 50px;
    }
  }
